<h2 mat-dialog-title style="text-align:center">Add Event</h2>

<mat-dialog-content class="add-event">
  <mat-form-field class="form-inputs">
    <mat-label>Event Title</mat-label>
    <input matInput placeholder="Title" [(ngModel)]="eventTitle">
  </mat-form-field>
  <mat-form-field class="form-inputs">
    <mat-label>Event Description</mat-label>
    <textarea matInput placeholder="Description" [(ngModel)]="eventDescription"></textarea>
  </mat-form-field>
  <mat-form-field class="form-inputs">
    <mat-label for="start">Start Date</mat-label>
    <input id="start" matInput type="datetime-local" [(ngModel)]="startDate">
  </mat-form-field>
  <mat-form-field class="form-inputs">
    <mat-label for="end">End Date (optional)</mat-label>
    <input id="end" matInput type="datetime-local" [(ngModel)]="endDate">
  </mat-form-field>
  <div class="form-inputs">
    <mat-checkbox color="primary" [(ngModel)]="isGlobal">Global Event</mat-checkbox>
  </div>
  <div id="dropdowns">
    <mat-form-field>
      <mat-label>Building</mat-label>
      <mat-select [(value)]="selectedBuilding" [disabled]="isGlobal" (selectionChange)="selectBuilding($event)">
        <mat-option *ngFor="let building of buildings" [value]="building">{{building.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cluster (optional)</mat-label>
      <mat-select [(value)]="selectedCluster" [disabled]="isGlobal">
        <mat-option *ngFor="let cluster of clusters" [value]="cluster">{{cluster.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="errorMessage">
    <span class="error-message">{{errorMessage}}</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Add</button>
</mat-dialog-actions>
