@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#dropdowns{
  padding-top:10px;
  width:100%;
  text-align:center;
  border-bottom: solid 1px rgba(0,0,0,.12);

  .mat-form-field{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.mat-drawer-opened{
  width:400px;
  padding:10px;
}

.mat-drawer-container{
  height:90%;
}

#main{
  height:100%;
}

.graph-functions{
  text-align: center;

  .mat-raised-button{
    margin: 0 10px 10px 10px;
  }
}

.mat-dialog-actions{
  float: right;

  .mat-raised-button{
    margin: 0 10px 0 10px;
  }
}
